# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf

indent_style = space
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = false

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts,vue,json,java,md}]
indent_style = space
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = false